.app-size-wrapper {
  height: 100%;
  margin-left: 250px;
  padding-top: 50px;

  main {
    padding: 10px;

    .row {
      display: flex;
      flex-direction: row;
      gap: 10px;

      > * {
        flex: 1;
      }
    }
  }
}
